{% extends "base_generic.html" %}

{% block title %}Edit Address{% endblock %}

{% block content %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>


<h1>Edit Address</h1>


  <div class="row-fluid">
        <div class="span4">
         

<form method="POST"> {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary" type="button" onclick="geocode()">Geocode</button>
    <a href="{% url 'address-detail' object.id %}" class="btn btn-danger" >Cancel</a>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

</div>

  <div class="span4">

<div id="mapid" style="width: 500px; height: 500px;"></div>
</div>
</div>


<script>

    var mymap = L.map('mapid').setView([{{ object.latitude }}, {{ object.longitude }}], 15);

   

L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    subdomains: ['a','b','c']
}).addTo( mymap );


     mymarker = L.marker([{{ object.latitude }}, {{ object.longitude }}], {draggable: true}).addTo(mymap);

     mymarker.on('dragend', function(ev) {
        console.log(mymarker.getLatLng());
        if(document.getElementById("id_latitude")){
        document.getElementById("id_latitude").value = mymarker.getLatLng().lat;
        document.getElementById("id_longitude").value = mymarker.getLatLng().lng;
        }


      })



	
	function geocode(){
var street = document.getElementById('id_street').value.toLowerCase();
var housenumber = document.getElementById('id_housenumber').value.toLowerCase();
var postcode = document.getElementById('id_postcode').value.toLowerCase();
var city = document.getElementById('id_city').value.toLowerCase();
var country = document.getElementById('id_country').value.toLowerCase();
var url = 'https://nominatim.openstreetmap.org/search?q='+housenumber+ '+' +street+ ',+' +postcode+ '+'+city+ ',+' +country+ '&format=json'
console.log(url)

 var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      console.log("Geocoding Response:")
    console.log(this.responseText);
      var response = JSON.parse(this.responseText);
      document.getElementById('id_latitude').value = response[0].lat;
      document.getElementById('id_longitude').value = response[0].lon; 
      mymap.setView([response[0].lat, response[0].lon], 15);
      mymarker.setLatLng([response[0].lat, response[0].lon]);


         }
  };
  xhttp.open("GET", url , true);
  xhttp.send();


};

</script>

<p><a href="{% url 'address-list' %}">Back to address list</a></p>

</div>

{% endblock %}

