{% extends "base_generic.html" %}

{% block title %}Calculate Tour{% endblock %}

{% block content %}
<h2>Calculate Tour</h2>




this is the 

{{object}}



{% for name, value in object.get_fields %}
   
    <li>{{ name }}: {{ value }}</li>

{% endfor %}
<br>

addresses

{{addresses}}


{% for a in addresses %}
<p>{{a.name}}: {{a.longitude}}</p>
{% endfor %}



<p><a href="{% url 'showing' object.id %}" class="btn btn-small btn-primary">Show distance matrix</a>
<p><a href="{% url 'tour-solve-vrp' object.id %}" class="btn btn-small btn-primary">Solve VRP</a>



    <a href="{% url 'tour-list' %}" class="btn btn-primary" >Back</a>


{% endblock %}